body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main{
    
    text-align: center;
    border: 2px solid black;
    padding: 50px 50px;
    width: 75%;
    background-color: darkgrey;
    border-radius: 10px;
}